@import "tailwindcss";

:root {
  font-family: 'DM Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 0;
}

* {
  scrollbar-color: #000 #fff;
  scrollbar-width: thin;
}
